  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/quill/dist/quill.min.js"></script>
  <script src="/javascripts/editor.js"></script>
</body>
</html>