<% for(var i=0; i< questions.length; i++) {%>
   <div class="panel panel-default">
    <div class="panel-heading">
     <h3 class="panel-title pull-left"><%= questions[i]["question"] %></h3>
      <button class="btn btn-default pull-right">New</button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
<% } %>